@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew.woff2') format('woff2'), url('thsarabunnew.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnewbolditalic.woff2') format('woff2'), url('thsarabunnewbolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnewitalic.woff2') format('woff2'), url('thsarabunnewitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnewbold.woff2') format('woff2'), url('thsarabunnewbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.thsarabunnew {
    font-family: 'THSarabunNew', sans-serif;
}